.chart{
    -fx-pie-label-visible:false;
}

.chart-pie {
}

.data0.chart-pie { -fx-pie-color: turquoise;}
.data1.chart-pie { -fx-pie-color: aquamarine; }
.data2.chart-pie { -fx-pie-color: cornflowerblue; }
.data3.chart-pie { -fx-pie-color: blue; }
.data4.chart-pie { -fx-pie-color: cadetblue; }
.data5.chart-pie { -fx-pie-color: navy; }
.data6.chart-pie { -fx-pie-color: deepskyblue; }
.data7.chart-pie { -fx-pie-color: cyan; }
.data8.chart-pie { -fx-pie-color: steelblue; }
.data9.chart-pie { -fx-pie-color: teal; }
.data10.chart-pie { -fx-pie-color: royalblue; }
.data11.chart-pie { -fx-pie-color: dodgerblue; }

.chart-pie-label-line {
    /*-fx-stroke: #8b4513;*/
    /*-fx-fill: #8b4513;*/
}

.chart-pie-label { /*this is what you need for labels*/
    -fx-fill: black;
}

.chart-legend {
    -fx-border-style: solid;
    -fx-border-radius:  10px;
    -fx-background-color:  #FAF9F8;
    -fx-border-color: white;
}


