@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@100&display=swap');

.textHeader {
    -fx-font-family: 'Noto Sans';
    -fx-font-style: normal;
    -fx-font-size: 128px;
    -fx-line-height: 174px;
    -fx-text-align: center;
}

.textFontNormal {
    -fx-font-family: 'Inter', sans-serif;
}

.primaryGrey {
    -fx-background-color: #D9D9D9;
}

.colorCard {
    -fx-background-radius: 15px;
}

.textNormalWhite {
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-font-size: 28px;
    -fx-fill:  #FAF9F8;
}

.panelTitel{
    -fx-font-family: 'Inter';
    -fx-font-style: normal;
    -fx-font-weight: 800;
    -fx-font-size: 20px;
    -fx-line-height: 24px;
    -fx-color: #131210;
}

#slightOpacityWeakRectangle {
    -fx-background-color: #EDE9E5;

    -fx-background-radius: 30px;
}

.borderSettings {
    -fx-background-color: #F0ECE8;
}
.panelButtonSettings {
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 6px;
}

.panelNormalText{
    -fx-font-family: 'Inter';
    f-x-font-style: normal;
    -fx-font-weight: 500;
    -fx-font-size: 16px;
    -fx-line-height: 16px;

    -fx-background-color: #131210;
}
.overviewTitel {
    -fx-font-family: 'Roboto';
    -fx-font-style: normal;
    -fx-font-weight: 600;
    -fx-font-size: 35px;
    -fx-line-height: 16px;
    -fx-text-align: center;
    -fx-background-color: #000000
}

.focusGreyWithRadius {
    -fx-background-radius: 15px;
    -fx-background-color: #F3F4F6;

}

.normalStrongText {
    -fx-font-size: 35px;
    -fx-font-family: 'Inter';
    -fx-font-size: 17px;
    -fx-color: #131210;
}